In [10]:
import pandas as pd
data={
    "Name":["Atharv","vishal","om"],
    "age":[21,22,20]
}
df=pd.DataFrame(data)
print(df)

print("\nhead",df.head(3))

print("\ninfo:",df.info())

print("\ndescribe:",df.describe())

print("\nshape:",df.shape )


print("\nmissing values:",df.isnull().sum())

print("\ncolumns:",df.columns)

     Name  age
0  Atharv   21
1  vishal   22
2      om   20

head      Name  age
0  Atharv   21
1  vishal   22
2      om   20
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

info: None

describe:         age
count   3.0
mean   21.0
std     1.0
min    20.0
25%    20.5
50%    21.0
75%    21.5
max    22.0

shape: (3, 2)

missing values: Name    0
age     0
dtype: int64

columns: Index(['Name', 'age'], dtype='object')

In [11]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Amit', 'Neha', 'Rahul', 'Priya'],
    'Age': [23, 25, 22, 24],
    'Marks': [85, 90, 88, 92]
})

df.head()
df.info()
df.describe()
df.shape
df.columns
df.isnull()
df.sort_values(by='Marks')
df.drop('Age', axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Marks   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

    Name  Marks
0   Amit     85
1   Neha     90
2  Rahul     88
3  Priya     92